/* contacts overlay & responsive styles (split from contacts.css) */

.overlay-contact-information {
    width: max-content;
    padding: 30px 48px 137px 83px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    flex-direction: column;
    background-color: var(--clr-white);

    .overlay-close {
        height: 32px;
        width: 32px;
    }

    .overlay-contact-inputs {
        .profile-badge {
            height: 120px;
            width: 120px;
            border-radius: 70px;
            font-weight: var(--fw-500);
            font-size: var(--fs-47);
        }

        .overlay-form {
            padding: 75px 0 0 72px;
            gap: 32px;
            flex-direction: column;

            .overlay-input {
                flex-direction: column;

                input {
                    width: 422px;
                    padding: 13px 41px 13px 21px;
                    z-index: 3;
                    border: 1px solid #D1D1D1;
                    border-radius: 10px;
                    color: var(--clr-primary);
                    font-size: var(--fs-20);
                    text-overflow: ellipsis;
                }

                input::placeholder {
                    color: var(--clr-lighterGray);
                    font-size: var(--fs-20);
                }

                input:focus {
                    outline: 1px solid var(--clr-lightBlue);
                    border: 1px solid transparent;
                }

                .overlay-input-icon {
                    height: 0 !important;
                    width: 0 !important;
                    z-index: 6;
                }

                .overlay-input-icon img {
                    height: 50px;
                    width: 24px;
                    left: -40px;
                    position: relative;
                }

                .contacts-alerts {
                    height: 0;
                    width: 0;
                    margin-top: 4px;
                    margin-left: 12px;
                }
            }

            .contact-submit-btns {
                gap: 25px;

                button {
                    padding: 16px;
                    border-radius: 10px;
                    gap: 4px;
                    font-size: var(--fs-21);

                    .cancel-btn-icon {
                        height: 24px;
                        width: 24px;
                        background-image: url("../assets/icons/cancel-btn.svg");
                    }
                }

                button:hover .cancel-btn-icon {
                    background-image: url("../assets/icons/cancel-btn-hover.svg");
                }
            }
        }
    }
}

@media (min-width: 901px) {

    .contact-btn-mobile,
    .arrow-backwards-mobile {
        display: none;
    }
}

@media (max-width: 1300px) {
    .address-book {
        padding: 0 0 0 12px;
    }

    .contact {
        padding: 10px 8px;
        gap: 25px;
    }

    .contact-focus {
        width: 70%;
        height: calc(100vh - 160px);
        padding: 48px 0 0 28px;
        overflow-y: auto;
        overflow-x: hidden;

        .title {
            gap: 16px;
            flex-direction: column;
            align-items: start;

            h1 {
                order: 1;
            }

            .title-seperator {
                height: 3px;
                width: 59px;
                order: 3;
            }

            p {
                order: 2;
            }
        }
    }

    .focused-profile-overview {
        gap: 24px;
        .focused-profile-badge {
            height: 100px;
            width: 100px;
        }
    }

    .overlay-contact {
        height: 100vh;
        max-height: 760px;
        width: 396px;
        flex-direction: column;
    }

    .overlay-title {
        min-height: 352px;
        width: 100%;
        padding: 66px 24px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 0;
        flex-direction: column;

        .overlay-join-logo {
            display: none;
        }
    }

    .overlay-contact-information {
        min-height: 408px;
        width: 100%;
        padding: 60px 16px 62px 16px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;

        .overlay-close {
            filter: invert(1);
            position: sticky;

            img {
                position: relative;
                bottom: 392px;
            }
        }

        .overlay-contact-inputs {
            justify-content: center;
            flex-direction: column;

            .profile-badge {
                height: 0;
                width: 100%;
                justify-content: flex-start;

                div {
                    height: 120px;
                    width: 120px;
                    position: relative;
                    top: calc(50% - 28px);
                    left: 50%;
                    transform: translate(-50%, -50%);
                    justify-content: center;
                }
            }

            .overlay-form {
                padding: 0;
                gap: 15px;
                flex-direction: column;

                .overlay-input {
                    input {
                        height: 41px;
                        width: 100%;
                        max-width: 364px;
                        padding: 13px 41px 13px 14px;
                    }

                    .overlay-input-icon img {
                        height: 41px;
                    }
                }

                .contact-submit-btns {
                    padding: 32px 0 0 0;
                    gap: 20px;
                    justify-content: center;

                    button {
                        padding: 18px 10px;
                    }
                }

                .cancel-btn-hide-mobile {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    main {
        justify-content: center;
        background-color: var(--clr-white);
    }

    .address-book {
        max-width: 100%;
        height: calc(100vh - 160px);
        padding: 0 28px 0 52px;
    }

    .contact {
        padding: 15px 24px;
        gap: 35px;
    }

    .add-new-contact {
        display: none;
    }

    .contact-focus {
        width: 100%;
        padding: 48px 64px 0 64px;

        .arrow-backwards-mobile {
            height: 40px;
            width: 40px;
        }

        .arrow-backwards-mobile:hover {
            background-color: #efeaea;
            border-radius: 50%;
            transform: scale(1.10);
            cursor: pointer;
        }
    }

    .focused-profile-overview {
        gap: 20px;

        .focused-profile-badge {
            height: 80px;
            width: 80px;
        }

        .focused-profile-account {
            .focused-profile-btns {
                display: none;
            }
        }
    }

    .focused-profile-information {
        padding-top: 0px;
    }
}

@media (max-width: 500px) {
    .address-book {
        padding: 0 0 0 12px;
    }

    .contacts-list {
        padding-right: 50px;

        .address-book-letter {
            .letter {
                padding: 16px 28px 8px 28px;
            }
        }
    }

    .contact {
        padding: 10px 8px;
        gap: 25px;
    }

    .contact-focus {
        padding: 24px 16px 0 16px;
    }

    .focused-contact-name {
        overflow: hidden;
        white-space: normal;
        overflow-wrap: anywhere;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
    }

    .overlay-contact {
        height: 100vh;
        max-height: 643px;
        width: 290px;
    }

    .overlay-title {
        min-height: auto;
        width: 100%;
        padding: 56px 20px;
    }

    .overlay-contact-information {
        min-height: auto;
        width: 100%;
        padding: 40px 12px;

        .overlay-close {
            img {
                bottom: 325px;
            }
        }

        .overlay-contact-inputs {
            .profile-badge {
                div {
                    height: 100px;
                    width: 100px;
                    top: calc(50% - 20px);
                }
            }

            .overlay-form {
                gap: 12px;

                .overlay-input {
                    input {
                        height: 36px;
                    }

                    .overlay-input-icon img {
                        height: 36px;
                    }
                }

                .contact-submit-btns {
                    padding: 24px 0 0 0;

                    button {
                        padding: 14px 10px;
                    }
                }
            }
        }
    }
}
